.btn {
    border: 0;    
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;

    &-menu {
        background-color: #2979FF;
        padding: 15px;
        color: white;
    }

    &-action {
        font-size: 24px;
        color: lightgray;
    }

    &__done {
        color: #7CB342;
    }

    &__remove {
        color: #D50000;
    }
}