.btn {
    border: 0;    
    font-size: 16px;
    cursor: pointer;

    &-menu {
        background-color: #2979FF;
        padding: 15px;
        color: white;
    }

    &-check {
        background-color: transparent;
        width: 30px;
        font-size: 26px;
    }
}