.list {
    list-style: none;

    &-item {
        border-bottom: 1px solid lightgray;
        padding: 18px 0;
        position: relative;
    }

    &-item:last-child {
        border-bottom: none;
        padding-bottom: 78px;
    }

    &-info {
        color: #2979FF;
        margin-bottom: 10px;
        font-size: 14px;
        display: block;
        display: flex;
        justify-content: space-between;
    }

    &-content {
        font-weight: normal;
        font-size: 16px;
    }

    &-description {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &-action {
        background-color: #fff;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -42px;
        top: 10px;

        & > * {
            margin-bottom: 5px;
        }

        &__show .list-action {
            animation: move 0.3s forwards alternate;
        }
    }

    &-icon {
        background-color: transparent;

        &__done {
            background-color: #2979FF;
        }

        &__todo {

        }
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-40px);
    }
}